<phpunit
  forceCoversAnnotation="true"
  bootstrap="vendor/autoload.php"
  colors="true">
  <testsuite name="tests">
    <directory>./tests</directory>
  </testsuite>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <html outputDirectory="tests/coverage/html"/>
    </report>
  </coverage>
</phpunit>
